<form (submit)="onConvert()">
  <div class="d-grid" [formGroup]="currencyExchangerForm">
    <div class="row">
      <!-- left side -->
      <div
        class="col-12 col-md-4 gap-3 d-flex flex-column justify-content-between"
      >
        <!-- Amount -->
        <div class="row flex flex-wrap gap-3 p-fluid">
          <div class="flex-auto">
            <label class="block font-bold" for="amount">Amount</label>
            <div class="flex-auto">
              <input
                type="number"
                pInputText
                formControlName="amount"
                class="text-center text-white ng-invalid ng-dirty"
              />
            </div>
          </div>
        </div>

        <!-- Formula -->
        <div class="row flex flex-wrap gap-3 p-fluid">
          <div class="flex-auto">
            <input
              type="text"
              pInputText
              formControlName="formula"
              class="text-center text-white"
            />
          </div>
        </div>
      </div>

      <!-- right side -->
      <div
        class="col-12 col-md-8 gap-3 d-flex flex-column justify-content-between"
      >
        <div class="d-flex flex-wrap align-items-end justify-content-between">
          <!-- Base -->
          <div class="col-5 flex flex-wrap p-fluid">
            <div class="flex-auto">
              <label class="block font-bold" for="form">Form</label>
              <div class="flex-auto">
                <p-dropdown
                  [filter]="true"
                  [showClear]="true"
                  formControlName="base"
                  [options]="currenciesOptions()"
                  (onChange)="onBaseChange($event)"
                  placeholder="Select a Base Currency"
                ></p-dropdown>
              </div>
            </div>
          </div>

          <!-- Swap btn -->

          <div class="col-2 flex flex-wrap p-fluid">
            <div class="d-flex justify-content-center">
              <i
                class="pi pi-arrow-right-arrow-left swap-btn"
                style="font-size: 2.5rem"
                (click)="onSwap()"
              ></i>
            </div>
          </div>

          <!-- Target   -->

          <div class="col-5 flex flex-wrap p-fluid">
            <div class="flex-auto">
              <label class="block font-bold" for="to">To</label>
              <div class="flex-auto">
                <p-dropdown
                  [filter]="true"
                  [showClear]="true"
                  formControlName="target"
                  [options]="currenciesOptions()"
                  (onChange)="onBaseChange($event)"
                  placeholder="Select a Base Currency"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <!-- Convert btn -->

        <div class="col-12 flex flex-wrap p-fluid">
          <div class="flex-auto row m-auto">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="currencyExchangerForm.invalid"
            >
              Convert
            </button>
          </div>
        </div>

        <div
          class="d-flex flex-wrap gap-3 align-items-end justify-content-between"
        >
          <!-- Result -->

          <div
            class=""
            [ngClass]="
              isHomePage
                ? 'col-12 col-md-5 flex flex-wrap p-fluid'
                : 'col-12   flex flex-wrap p-fluid'
            "
          >
            <div class="flex-auto">
              <input
                type="text"
                pInputText
                formControlName="result"
                class="text-center text-white"
              />
            </div>
          </div>

          <!-- More Details btn -->

          <div
            *ngIf="isHomePage"
            class="flex flex-wrap p-fluid"
            [ngClass]="isHomePage ? 'col-12 col-md-5' : 'col-12'"
          >
            <div class="flex-auto row m-auto">
              <a class="btn btn-primary" routerLink="/currency-details">
                More Details
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
